* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgrey;
  min-width: 400px;
  font-size: 16px;
}

body > .header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: grey 1px solid;
}

body > .header > h3 {
}

body > .header > .controls {
  gap: 10px;
}

body > .header > .controls button {
  white-space: nowrap;
}

body > .header > .controls .file-input {
  display: none;
}

body > .header > .controls button,
body > .header > .controls .import-label {
  appearance: none;
  border: 1px solid black;
  background: grey;
  color: white;
  border-radius: 3px;
  font-size: 0.9rem;
  padding: 3px 5px;
  cursor: pointer;
}

body > .header > .controls button:hover,
body > .header > .controls .import-label:hover {
  background: rgb(105, 105, 105);
}

body > .texts-container {
  margin-top: 10px;
  padding: 10px;
}

body > .texts-container textarea {
  width: 100%;
  resize: vertical;
  padding: 10px;
  border-radius: 5px;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('/Users/JacobBroughton/Library/Fonts/OpenSans-Regular.ttf')
}